#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: Montserrat;
}


.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8a8a8a
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
  /* padding: 5%; */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Image */
.title-image {
  margin: 0 0 0 30%;
  width: 50%;
  transform: rotate(20deg);
  position: absolute;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #FFFF;
  position: relative;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #FFFF
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20 20 20 15;
}
#pricing {
  padding: 100px;
}

#cta{
  background-color: #ff4c68;
  color: #FFFF;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.0rem;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 1028px) {
  #Title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
